<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quản lí phần mềm</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="../public/javascript/main.js" ></script>
</head>
<body>

    <nav>
        <ul>
            <li><a href="/#">Home</a></li>
            <li><a href="/#">Đăng Ký</a></li>
        </ul>
        <label id="icon">
            <i class="fa fa-bars"></i>
        </label>
    </nav><br>

<div class="container">
  <h2>Basic Table</h2>
  <p>The .table class adds basic styling (light padding and horizontal dividers) to a table:</p>            
  <table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td><a  class="btn btn-success">Thêm</a></td>
        <td><a type="button" class="btn btn-primary">Sửa</a></td>
        <td><a type="button" class="btn btn-danger">Xóa</a></td>
      </tr>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td><a  class="btn btn-success">Thêm</a></td>
        <td><a type="button" class="btn btn-primary">Sửa</a></td>
        <td><a type="button" class="btn btn-danger">Xóa</a></td>
      </tr>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td><a  class="btn btn-success">Thêm</a></td>
        <td><a type="button" class="btn btn-primary">Sửa</a></td>
        <td><a type="button" class="btn btn-danger">Xóa</a></td>
      </tr>
      
    </tbody>
  </table>
</div>

</body>
</html>
