<!DOCTYPE html>
<html lang="en">
<head>
    <title>Giỏ hàng</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="../public/javascript/main.js" ></script>
</head>
<body>

    <nav>
        <ul>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/">Home</a></li>
          <li><a href="/cart">Cart</a></li>
          <li><a href="/history">My Software</a></li>
          <li><a href="/profile/<%=curUser._id%>">Profile</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
        <label id="icon">
            <i class="fa fa-bars"></i>
        </label>
    </nav><br>

<div class="container">
  <h2>Giỏ Hàng</h2>
  <% if (error!='') {%>
    <div class="alert alert-danger alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong><%=error%>.</strong> 
    </div>
  <%}%>
  <a class="btn btn-success" href="/">Tiếp tục mua sắm</a> <br><br>   
  <table class="table">
    <thead>
      <tr>
        <th>Tên sản phẩm</th>
        <th>Giá</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% if (locals.cart){ %>
        <% cart.forEach(software=>{%>
          <tr>
            <td><%=software.name%></td>
            <td><%=software.price%></td>  
            <td><a class="btn btn-danger" href='cart/<%=software.stt%>?_method=DELETE'>Xóa</a></td>
          </tr>
       <%})%>
      <%}%>

    </tbody>
    <h3>Tổng tiền: <%=cash%> vnđ</h3>
    <a type="button" class="buyBtn btn btn-primary">Thanh Toán</a><br><br>
  </table>
</div>

<div id="confirm-buy-dialog" class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Thông Báo</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        Xác nhận thanh toán
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <a href="/cart?_method=PUT" id="btn-buy-confirm" class="btn btn-success">Xác nhận</a>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
      </div>
      
    </div>
  </div>
</div>

</body>
</html>
