<!DOCTYPE html>
<html lang="en">
<head>
  <title>Quản lý</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="../public/javascript/main.js" ></script>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/">Home</a></li>
      <li><a href="/cart">Cart</a></li>
      <li><a href="/history">My Software</a></li>
      <li><a href="/profile/<%=curUser._id%>">Profile</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
    <label id="icon">
        <i class="fa fa-bars"></i>
    </label>
</nav><br>
<div class="container">
  <h1>Quản Lí Hệ Thống</h1><hr>
  <div class="row">

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Quản Lí Sản Phẩm</h4>
          <p class="card-text">Thêm, xóa sửa các sản phẩm phần mềm</p>
          <a href="/softwareManager" class="btn btn-primary">Chọn</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Quản Lí Nhà Cung Cấp</h4>
          <p class="card-text">Thêm, xóa nhà cung cấp</p>
          <a href="/supplierManager" class="btn btn-primary">Chọn</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Quản Lí Nhân Viên</h4>
          <p class="card-text">Cấp quyền cho tài khoản thành nhân viên</p>
          <a href="/staffManager" class="btn btn-primary">Chọn</a>
        </div>
      </div>
    </div>
    
  </div>    
  

</div>

</body>
</html>