<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quản lí phần mềm</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="../public/javascript/main.js" ></script>
</head>
<body>

    <nav>
        <ul>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/">Home</a></li>
          <li><a href="/cart">Cart</a></li>
          <li><a href="/history">My Software</a></li>
          <li><a href="/profile/<%=curUser._id%>">Profile</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
        <label id="icon">
            <i class="fa fa-bars"></i>
        </label>
    </nav><br>

<div class="container">
  <h2>Lịch Sử Giao Dịch</h2>
  <% if (success!='') {%>
    <div class="alert alert-success alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong><%=success%>.</strong> 
    </div>
  <%}%>         
  <table class="table">
    <thead>
      <tr>
        <th>Tên sản phẩm</th>
        <th>Ngày mua</th>
        <th>Key Active</th>
      </tr>
    </thead>
    <tbody>
      <% curUser.mySoftware.forEach(software=>{%>
        <tr>
          <td><%=software.softwareName%></td>
          <td><%=software.buyDate%></td>
          <td><%=software.key%></td>
        </tr>
      <%})%>
    </tbody>
  </table>
</div>

</body>
</html>
