<!DOCTYPE html>
<html lang="en">
<head>
  <title><%=software.softwareName%></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="../public/javascript/main.js" ></script>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/">Home</a></li>
      <li><a href="/cart">Cart</a></li>
      <li><a href="/history">My Software</a></li>
      <li><a href="/profile/<%=curUser._id%>">Profile</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
    <label id="icon">
        <i class="fa fa-bars"></i>
    </label>
</nav><br>
<div class="container">
  <h1>Thông Tin Sản Phẩm</h1><hr>
  <div class="row">

    <div class="col-sm-6">
        <img class="card-img-top" src="/<%=software.softwareImage%>" alt="Card image">
        <a href="/editImage/<%=software._id%>">Thay đổi ảnh sản phẩm</a><br><br>
        <a class="btn btn-primary" id="addCart" href="/software/<%=software._id%>?_method=PUT">Thêm vào giỏ hàng</a> 
    </div>
    

    <div class="software col-sm-6">
        <h1><%=software.softwareName%></h1>
        <p><b>Giá:</b> <%=price%> vnđ</p>
        <p><b>Nhà cung cấp:</b> <%=supplierName%></p>
        <p><b>Mô tả:</b></p>
        <p><%=software.description%></p>
    </div>

    
  </div>
  

</div>

</body>
</html>