<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quản lí nhân viên</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="../public/javascript/main.js" ></script>
</head>
<body>

    <nav>
        <ul>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/">Home</a></li>
          <li><a href="/cart">Cart</a></li>
          <li><a href="/history">My Software</a></li>
          <li><a href="/profile/<%=curUser._id%>">Profile</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
        <label id="icon">
            <i class="fa fa-bars"></i>
        </label>
    </nav><br>

<div class="container">
  <h2>Danh Sách Nhân Viên</h2>
  <form class="form-inline" method="POST" action="/staffManager">
    <input class="form-control" placeholder="Nhập tên hoặc email" id="search" name="search" value="<%=search%>">
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
  </form><br>
  <% if (error!='') {%>
    <div class="alert alert-danger alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong><%=error%>.</strong> 
    </div>
  <%}%>
  <% if (success!='') {%>
    <div class="alert alert-success alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong><%=success%>.</strong> 
    </div>
  <%}%>  
  <a class="btn btn-success" href="/addStaff">Thêm nhân viên</a> <br><br>         
  <table class="table">
    <thead>
      <tr>
        <th>Họ và tên</th>
        <th>Email</th>
        <th>TK ngân hàng</th>
        <th>Tên ngân hàng</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>

      <% staffs.forEach(staff=>{%>
        <tr>
          <td><%=staff.ho%> <%=staff.ten%></td>
          <td><%=staff.email%></td>
          <td><%=staff.bankId%></td>
          <td><%=staff.bankName%></td>
          <td><a class="btn btn-success" href="/profile/<%=staff._id%>">Trang cá nhân</a></td>
          <td><button data-id="<%=staff._id%>" data-name="<%=staff.ten%>" type="button" class="staffDeletebtn btn btn-danger" data-toggle="modal" data-target="#myModal">Xóa</button></td>
        </tr>
     <%})%>
      
    </tbody>
  </table>

  <div id="confirm-deleteStaff-dialog" class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Thông Báo</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <a id="btn-deleteStaff-confirm" class="btn btn-success">Xác nhận</a>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
        </div>
        
      </div>
    </div>
  </div>

</div>

</body>
</html>
